.order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
   
}

.order h2{
    text-align: center;
}

.btns{
    display: flex;
justify-content: space-between;
    
}

.btns button {
    margin: 20px;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.btns button:first-child {
    color: #FF6B00;
    border: 1px solid #FF6B00;
    transition-duration: 450ms;
    transition-timing-function: ease-out;

}

.btns button:first-child:hover {
    background-color: #FF6B00;
    color: #F5F5DC;
    font-size: 1.1rem;
}

.btns button:nth-child(2) {
    color: #6B7280;
    border: 1px solid #6B7280;
    transition-duration: 450ms;
    transition-timing-function: ease-out;
}

.btns button:nth-child(2):hover {
    background-color: #6B7280;
    color: #F5F5DC;
    font-size: 1.1rem;
}

.highlight{
    color: red;
}

.order h4 {
   margin-top: 10px;
}

@media (max-width:600px) {
    .order h1{
        font-size: 1.3rem;
    }

        .order h4 {
            font-size: 0.9rem;
        }

        .btns button {

            width: 80px;
            height: 30px;
            font-size: 0.8rem;
        }
}